<launch>

    <arg name="static" default="simulation/corridors/map_static.txt" />
    <arg name="sunny" default="simulation/corridors/map_sunny.txt" />
    <arg name="coord" default="simulation/corridors/coordinates_sim.yaml" />

    <param name="path_static" value="$(arg static)" />
    <param name="path_sunny" value="$(arg sunny)" />
    <param name="path_coord" value="$(arg coord)" />

    <node name="bwi_nav_reasoning_test" pkg="bwi_nav_reasoning" type="bwi_nav_reasoning_test" output="screen" />

</launch>
